*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
}

:root{
    --main-color: #306bb3;
    --black: #1a202c;
    --white: #ffffff
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

footer{
    background-color: #306bb3;
    display: flex;
    flex-direction: row;
}

footer p{
    color: white;
}

.footer-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}