* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

:root {
  --main-color: #306bb3;
  --black: #1a202c;
  --white: #ffffff;
}

header {
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
  justify-content: space-around;
  align-items: center;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 450px;
}

.main-nav a {
  color: var(--white);
}

.dark-mode-button {
  background-color: var(--white);
  color: var(--main-color);
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-size: var(--md);
  margin: 0 40px 0 200px;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  background-color: #306bb3;
  display: flex;
  flex-direction: row;
}

footer p {
  color: white;
}

.footer-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
